# `make_rid_to_course_and_country_dict.ipynb`

### Author: Anthony Hein

#### Last updated: 9/25/2021

# Overview:

Create a dictionary that maps a race number `rid` to the course and country code for that race. This will be used to eventually find the weather data of the nearest station. Write this dictionary as a constant in a Python file in the `utils` folder for easy import.

---

## Setup

In [1]:
import git
import os
from typing import List
from tqdm import tqdm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
BASE_DIR = git.Repo(os.getcwd(), search_parent_directories=True).working_dir
BASE_DIR

'/Users/anthonyhein/Desktop/SML310/project'

---

## Load `races_aticnm.csv`

In [3]:
races_aticnm = pd.read_csv(f"{BASE_DIR}/data/csv/races_aticnm.csv", low_memory=False) 
races_aticnm.head()

,rid,course,time,date,hurdles,prizes,winningTime,metric,countryCode,ncond,class
0,267255,Southwell (AW),03:40,97/01/01,NaN,"[2752.25, 833.0, 406.5, 193.25]",106.9,1609.0,GB,0,5
1,297570,Southwell (AW),12:35,97/01/01,NaN,"[1944.0, 544.0, 264.0]",91.0,1407.0,GB,0,6
2,334421,Southwell (AW),01:05,97/01/01,NaN,"[2502.0, 702.0, 342.0]",150.7,2212.0,GB,0,6
3,366304,Southwell (AW),03:10,97/01/01,NaN,"[2189.0, 614.0, 299.0]",108.6,1609.0,GB,0,6
4,13063,Southwell (AW),02:40,97/01/01,NaN,"[2726.25, 825.0, 402.5, 191.25]",231.4,3318.5,GB,0,5

In [4]:
races_aticnm.shape

(178067, 11)

---

## Make `rid` to `course` and `country` Dict

In [5]:
d = {}
for _, row in tqdm(races_aticnm.iterrows()):
    d[row['rid']] = {
        'course': row['course'],
        'countryCode': row['countryCode']
    }

178067it [00:07, 23627.50it/s]

## Write to File in `utils`

In [6]:
s = f"RID_TO_COURSE_AND_COUNTRY = {d}"
s[:100]

"RID_TO_COURSE_AND_COUNTRY = {267255: {'course': 'Southwell (AW)', 'countryCode': 'GB'}, 297570: {'co"

In [7]:
with open(f"{BASE_DIR}/utils/rid_to_course_and_country.py", 'w', encoding='utf-8') as f:
    f.write(s)

---